.navbar{
   width: 100%;
    height: 60px;
    background:#1a2b48;
    overflow: auto;
    
}
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1vw;
    font-family: "Quicksand", sans-serif;
  }
  

  
  .active {
   margin-left: 100px;
   margin-top: 8px;
  }
  .active1 {
    padding-left: 100px;
    margin-top: 8px;
   }
   .login-icon{
    float: right;
    margin-left: 500px;
    margin-top: 10px;
   }
   .sign-in{
    margin-top: 10px;
    padding-left: 100px;
   }
   
/*ending of header navbar and starting of bottom nav*/
@media screen and (max-width: 500px) {
}


.bottom{
    width: 100%;
    height: 150px;
    background: #f0f2f7;
    
}
.logo{
    margin-left: 70px;
    padding-top: 18px;
    
}

.list1{
  float:none;
  padding-left: 300px;
  padding-bottom: 100px;
  
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.list2{
  float:none;
  padding-left: 70px;
  padding-bottom: 100px;
  color: black;
  text-decoration: none;
  font-size:20px;
}
.list3{
  float:none;
  padding-left: 70px;
  padding-bottom: 100px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.list4{
  float:none;
  padding-left: 70px;
  padding-bottom: 100px;
  color: black;
  text-decoration: none;
  font-size:20px;
}
.list5{
  float:none;
  padding-left: 70px;
  padding-bottom: 100px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
/* book now buttuon */
.list6{
  float:none;
  margin-left: 110px;
  padding-bottom: 100px;
  margin-bottom: 10%;
  border-color: green;
  text-decoration: none;
  color: #04AA6D;
  border-radius: 1%;
  font-size: 20px;  
}

.body-img img{
  height:700px;
}

   .container {
  height: 100px;
  width: 100%;
  border: 1px solid transparent;
 display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
/* admmison button */
.button1{
  float: right;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 30px;
  background: #04AA6D;
  border-color: transparent;
  border-radius: 100px;
  color:whitesmoke;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
/*images and description area*/
.imagebox{
  width: 100%;
  height: 650px;
  background: whitesmoke;
}
.textbox{
  background: whitesmoke;
    width: 20%;
    height:400px;
    float: left;
    margin-top: 10px;
    display: block;
    letter-spacing:4px;
    margin: 25px;
}
.para{
  color: #04AA6D;
  line-height: inherit;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.box1{
  width: 20%;
    height:400px;
  float: left;
  margin: 10px;
  padding-left: 2px;
}
.box2{
 padding-top: 13px;
  padding-right: 50px;
  width: 20%;
  height:400px;
  float: right;
}
.box3{
  padding-left: 70px;
  width: 10%;
  height:100px;
  float: left;
  margin: 10px;

}
.card-group{
  width: 100%;
  height:400px;
  background:#f9f4f4;
  background-position: center;
  background-size: cover;

}

.card1 img{
  padding-left: 4px;
}
.text-section{
  padding-top: 10px;
  padding-left: 8px;
  font-weight:100;
  font-size: 14px;
  letter-spacing: 1px;
}
.heading{
  padding-top: 10px;
  padding-left: 10px;
  font-weight:bolder;
  font-size: large;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card1{
  background:whitesmoke;
    width: 20%;
    height:350px;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}
.card2{
  background:whitesmoke;
    width: 20%;
    height:350px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
.card3{
  background:whitesmoke;
    width: 20%;
    height:350px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
.card4{
  background:whitesmoke;
    width: 20%;
    height:350px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}



.notification{
  height: 150px;
  width: 100%;
  background: #efe0d3;
}

/* BELL BUTTON AREA*/
/*.bell{
  padding-left: 200px;
  padding-top: 40px;
  color: #444;
  float: left;
}
/* notification box*/


/*footer  section */
body {
  font-family: Arial, sans-serif;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  height: 400px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;;
  margin-left: 60px;

}

.footer-section {
  flex: 1;
  margin: 10px;
  line-height: 2;
  text-decoration: none;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  
  padding-bottom: 10px;
  font-size:small;
}

.footer-section p {
  margin: 5px 0;


}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.7px solid #444;
  line-height: 2.1px;
}



.footer-section img {
  max-width: 100px;
}

.footer-section i {
  margin-right: 10px;
}


